* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: #BBB4C5;
}

.header {

    padding: 20px;
    width: 100%;
    background-color: blueviolet;
    color: #ffffff;

}

.header h1 {
    display: inline-block;

}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}


nav ul li {

    list-style-type: none;
    display: inline-block;
    margin-left: 20px;

}

a {
    text-decoration: none;
    color: #ffffff;
}


section {
    padding: 15px;

}

section h2 {
    width: 100px;
}

section p {
    flex: 1;

}

.profilePic {

    display: inline;
    margin: 20px 20px 20px 0px;
    height: 150px;
   

}

.heroImage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;

    background-image: url(../assets/images/pexels-markusspiske-1089440.jpg);

    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.heroTitle {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 25px;
    color: #ffffff;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    justify-content: right;

    display: flex;
    gap: 20px;


}

.containerProject {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    float: right;

}

.project {
    flex: 1 0 45%;
    width: 45%;
    height: 300px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;

}


.project.main {
    flex: 2 1 90%;
    height: 400px;
}




.containerProject div:hover {

    padding: 0px;
    border: 5px solid #faa7fa;


}



.projectTitle {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 20px;
    color: #ffffff;
    background-color: blueviolet;

}

/* Styles Sections Names */ 
.info {
    display: inline-block;
    width: 20%;
    text-align: left;
    padding-right: 40px;
    margin-right: 10px;
    border-right: 5px solid darkmagenta;

}

.description {
    padding: 10px;
    margin-left: 30px;
    display: inline-block;
    width: 70%;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;

}

.contact h2 {
    display: inline-block;
    margin-left: 20px;
}

.contact nav {
    display: inline-block;
    padding-top: 50px;
    margin-left: 30px;
    justify-content: right;


}

.contact nav ul li {

    display: inline-block;
    margin-left: 20px;

}

.contact a {
    color: purple;
}

footer {
    background-color: blueviolet;
    display: block;
    color: #ffffff;
    height: 100px;
    margin-top: 20px;

}

footer h3 {
    padding-top: 20px;
    font size: 18px;
    text-align: center;

}

/*RESPONSIVE */

@media screen and (max-width: 992px) {

    .container {
        width: 100%;
        height: auto;
    }

    .containerProject {
        flex-direction: column;
        display: block;
        width: 100%;

    }

    .project img {
        width: 100%;
        height: auto;
    }

    .info {

        width: 20%;
        border-right: 0px;
        margin-bottom: 10px;
        border-bottom: 5px solid darkmagenta;

    }

   

}