* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #BBB4C5;
}

.header {
    /*display: flex; */
    padding: 20px;
    width: 100%;
    /*justify-content: space-between; */
    background-color: blueviolet;
    color: #ffffff;

}

.header h1 {
    display: inline-block;
    /*text-align: start;*/
    /*align-self: center; */

}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* nav ul {
    text-align: end;
} */

nav ul li {

    list-style-type: none;
    display: inline-block;
    margin-left: 20px;

}

a {
    text-decoration: none;
    color: #ffffff;
}


section {
    padding: 20px;
    /*display: flex;
    flex-direction: column; */

}

section h2 {
 width: 100px;
}

section p {
    flex: 1;
    
}

.heroImage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/pexels-markusspiske-1089440.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
} 

.heroTitle {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 25px;
    color: #ffffff;
}




/*.work {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 10px;
    /*position: relative; 
}*/


/*.project1 {
    /*flex: 1 0 200px; 
    width: 70%;
    /* max-height: 50%;
    width: 50%; 
    padding: 20px;
    margin: 20px;
    text-align: right;
    display: inline-block;

}*/

/*.container {
   /* width: 70%; 
    /*margin: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
    clear: both;
}*/

.container {
 width: 90%; 
 max-width: 1200px;
margin-left: auto;
justify-content: right;
   
/* GRID */
/*
    display: grid;
    grid-template-columns: 1fr auto; */


   /*FLEXBOX*/
    display: flex;
    gap: 20px;
   

     /*
      padding: 40px 0px;
    top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
   padding: 10px;
    justify-content: flex-end;
    clear: both; */
}

.containerProject {
  
    /*flex: 0 0 45%;
    /*margin: 10px;*/
  /* FLEXBOX */
  width: 70%; 
    display: flex;
    flex-wrap: wrap;
    float: right;
    
   

  

    /*float: right;
    padding: 0px;
    /*max-width: 45%;*
    text-align: right;
    justify-content: space-between;*/

/*GRID*/

/*display: grid;
grid-template-columns: repeat(2,1fr); */



}
.project {
flex: 1 0 45%;
 width: 45%; 
 height: 300px;
 /*min-height: 200px; */
 padding: 20px;
 position:relative;
 overflow:hidden;
 background-size: cover;
 background-position: center center;

}


/*.containerProject:first-child {
    flex: 2 1 90%;
}  */

.project.main {
    flex: 2 1 90%;
    height: 400px;
}


.infoWork {
    width: 20%;
    display: inline-block;
    text-align: left;
   margin-left: 0px;
    padding-right: 40px;
    margin-right: 10px; 
    border-right: 5px solid darkmagenta;
}

/*.project img:hover {
    background-color: black;

}*/

/*.project {
    flex: 1 0 200px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    text-align: right;
    /*display: flex;*/
    /*align-items: flex-end ; 
    justify-content: space-between;

} */

/* .project1 img {
   width: 80%; 
   /* display: inline-block; 
    /* margin: 10px;
    padding: 10px;
    */
    /*width: 399px;

}*/

.heroProject {
    width: 100%;
    position:relative;
}

.mainProject {
    overflow: hidden;
    flex: 2 0 100%;
    /*padding-left: 20px; */
    width: 70%;
    min-height: 600px;
    height: auto;
   
    

   /* text-align: right;*/
    /*display: flex;*/
    float: right;
    position: relative;
}



.imageTitle {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 20px;
    color: #ffffff;
    background-color: blueviolet;
    /*display: flex; */
}

.info {
    display: inline-block;
    width: 20%;
    text-align: left;
    /*float: left; */
    padding-right: 40px;
    margin-right: 10px; 
    border-right: 5px solid darkmagenta;
    /*top: 0px; */
}

.description {
    padding: 10px;
    margin-left: 30px;
    display: inline;
    width: 70%;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;

}

footer {
    background-color: blueviolet;
    display: block;
    color: #ffffff;
    height: 100px;
    margin-top: 20px;

}

footer h3 {
  padding-top: 20px;
    font size: 18px;
    text-align: center;

}

.contact h2 {
    display: inline-block;
    margin-left: 20px;
}

.contact nav {
    display: inline-block;
    padding-top: 50px;
    margin-left: 30px;
    justify-content: right;
   
}

.contact nav ul li {

    display: inline-block;
    margin-left: 20px;

}

.contact a {
    color: purple;
}

/*RESPONSIVE */

@media screen and (max-width: 992px) {
    .containerProject {
     flex-direction: column;
     display: block;
     width: 100%;
     
    }

.project1 img {
    width: 100%;
}

.info {
   /* display: inline-block;
    
    text-align: left;
    float: left; 
    padding-right: 40px;*/
    width: 20%;
    border-right: 0px;
    margin-bottom: 10px; 
    border-bottom: 5px solid darkmagenta;
    /*top: 0px; */
}

  }